.body{

    background-color: black;
}
.site {
    background:
        Linear-gradient(110deg, rgba(9,9,9,1) 0%, rgba(7,7,7,0) 50%, rgba(5,5,5,1) 100%),
        url(../assets/bg.jpg);
    background-size: 121%;

}


.site-header .section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.site-header h1 {
    margin: 0;
}
.site-header a{
    color:  #E50914;
    text-decoration: none;
}

.site-header a.login{
    background-color:  #E50914;
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

.site-header.section,
.section-banner.section {
   border: none;
   background: none;
}

.section {
    background: black;
    color: white;
    border-top: 5px solid rgba(255, 255, 255, 0.15);
}


.section-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    /* background-color: #eee; */
}

.section-banner .section-container {
    flex-direction: column;
}

.section-container .copy {
    max-width: 45%;
}


.section-container.media-left {
    flex-direction: row-reverse;
}

.section-banner {
    text-align: center;
 }
 
 .section-banner .section-container{
    padding: 4em 0;
 }

 .section-banner h2 {
    max-width: 16em;
    margin-inline: auto;
}

.section-banner .sub-title {
    font-size: 1.2em;
 }


 .section-zigzag .media{
    max-width: 45%;
 }

 .section-faq .section-container > h2,
 .section-faq .section-container > p {
    text-align: center;
 }

 .section-faq .section-container{
    padding: 2em 0;
    flex-direction: column;

 }

 .site-footer .section-container{
    padding: 2em 0;
 }

 .site-footer h6{ 
    padding-bottom: 1em;
    font-weight: normal;
    color: #666;
 }

 .site-footer .links {
    display: flex;
 }

 .site-footer .links ul {
    flex: 1 1 auto;
 }

 .site-footer .links li {
    display: block;
 }

 .site-footer a {
    color: #999;
    text-decoration: none;
 }

 .site-footer a:hover {
    color: white;
 }




